body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  margin-bottom: 60px;
}